<h1>Tags#index</h1>

<table>
	<tr>
		<td>title</td>
		<td>count</td>
	</tr>
	<% @tags.each do |tag| %>
		<tr>
			<td><%= tag.title %></td>
			<td><%= tag.count %></td>
		</tr>
	<% end %>
</table>

<p><%= link_to "Add new tag", new_tag_path %></p>

<p><%= link_to "Back to users", users_path %></p>